@import "../../variables";

@media (max-width: 1679px) {
	.hero {
		.hero__wrapper {
			max-width: 1500px;

			.hero__image-container {
				max-width: 500px;
				width: 100%;
				border-radius: 10px;
			}
		}
	}
}

@media (max-width: 1554px) {
	.hero {
		.hero__wrapper {
			max-width: 1450px;

			.hero__text-container {
				max-width: 60%;
				padding: 0 10px;

				h1 {
					line-height: 1.1;
					font-size: 80px;
				}
			}

			.hero__image-container {
				max-width: 500px;
				border-radius: 10px;
			}
		}
	}
}

@media (max-width: 1500px) {
	.hero {
		.hero__wrapper {
			.hero__image-container {
				max-width: 450px;
				border-radius: 10px;
			}
		}
	}
}

@media (max-width: 1397px) {
	.hero {
		.hero__wrapper {
			max-width: 1300px;

			.hero__text-container {
				max-width: 60%;

				h1 {
					line-height: 1.1;
					font-size: 68px;
				}
			}
		}
		.sliding__text-container {
			width: 80%;
			font-size: 30vh;
			top: 450px;
		}
	}
}

@media (max-width: 1367px) {
	.hero {
		.hero__wrapper {
			max-width: 1200px;

			.hero__text-container {
				h1 {
					line-height: 1.1;
					font-size: 68px;
				}
			}
			.hero__image-container {
				max-width: 300px;
			}
		}
		.sliding__text-container {
			width: 80%;
			font-size: 30vh;
			top: 200px;
		}
	}
}

@media (max-width: 1321px) {
	.hero {
		.hero__wrapper {
			max-width: 1200px;
		}
	}
}

@media (max-width: 1257px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				h1 {
					font-size: 60px;
				}
			}
			.hero__image-container {
				max-width: 350px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				h1 {
					font-size: 60px;
				}
			}
			.hero__image-container {
				max-width: 300px;
			}
		}
	}
}

@media (max-width: 1063px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				h1 {
					font-size: 50px;
				}
			}

			.hero__image-container {
				max-width: 280px;
			}
		}
		.sliding__text-container {
			width: 80%;
			font-size: 30vh;
			top: 200px;
		}
	}
}

@media (max-width: 981px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				gap: 20px;
				max-width: 600px;
				h1 {
					font-size: 45px;
				}

				h2 {
					font-size: 28px;
				}
			}
		}
		.sliding__text-container {
			width: 70%;
			font-size: 25vh;
			top: 250px;
		}

		.hero__image-container {
			max-width: 400px;
		}
	}
}

@media (max-width: 922px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				max-width: 45%;
				h1 {
					font-size: 40px;
				}

				h2 {
					font-size: 28px;
				}
			}
		}
		.sliding__text-container {
			width: 70%;
			font-size: 25vh;
			top: 250px;
		}

		.hero__image-container {
			max-width: 400px;
		}
	}
}

@media (max-width: 893px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				gap: 20px;

				h1 {
					font-size: 38px;
					line-height: 1;
				}

				h2 {
					font-size: 18px;
				}

				.hero__buttons {
					max-width: 600px;
					button {
						padding: 10px;
					}
				}
			}
		}

		.hero__image-container {
			max-width: 230px;
		}

		.sliding__text-container {
			width: 50%;
			font-size: 22vh;
			top: 250px;
		}
	}
}

@media (max-width: 865px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				max-width: 440px;
				gap: 20px;

				h1 {
					font-size: 38px;
					line-height: 1;
				}

				h2 {
					font-size: 18px;
				}

				.hero__buttons {
					button {
						padding: 10px;

						&:hover {
							color: $color-text-general !important;
							transform: none !important;
							background: transparent !important;
							border-color: $color-text-general;
						}
					}
				}
			}
		}

		.hero__image-container {
			max-width: 230px;
		}

		.sliding__text-container {
			width: 50%;
			font-size: 22vh;
			top: 250px;
		}
	}
}

@media (max-width: 805px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				gap: 20px;

				h1 {
					font-size: 35px;
					line-height: 1;
				}

				h2 {
					font-size: 18px;
				}

				.hero__buttons {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					button {
						padding: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 793px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				gap: 20px;

				h1 {
					font-size: 32px;
					line-height: 1;
				}

				h2 {
					font-size: 18px;
				}
			}
		}

		.sliding__text-container {
			width: 50%;
			font-size: 20vh;
			top: 250px;
		}
	}
}

@media (max-width: 761px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				h1 {
					font-size: 28px;
				}

				.hero__buttons {
					button {
						margin: 0;
					}
				}
			}
		}

		.hero__image-container {
			max-width: 230px;
		}

		.sliding__text-container {
			width: 70%;
			font-size: 22vh;
			top: 250px;
		}
	}
}

@media (max-width: 694px) {
	.hero {
		.sliding__text-container {
			width: 70%;
			font-size: 22vh;
			top: 250px;
		}
	}
}

@media (max-width: 661px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				max-width: 350px;
			}
		}

		.hero__image-container {
			max-width: 180px !important;
		}

		.sliding__text-container {
			width: 80%;
			font-size: 22vh;
			top: 280px;
		}
	}
}

@media (max-width: 575px) {
	.hero {
		.hero__wrapper {
			.hero__text-container {
				gap: 20px;

				.hero__buttons {
					display: flex;
					align-items: center;
					gap: 10px;

					button {
						padding: 10px;
						margin-right: 0;
						font-size: 12px;
					}
				}

				img {
					width: 50px;
				}
			}
			.hero__image-container {
				max-width: 180px !important;
				border-width: 5px;
				right: 25px;
			}
		}

		.sliding__text-container {
			width: 80%;
			font-size: 20vh;
			top: 300px;
		}
	}
}

@media (max-width: 511px) {
	.hero {
		.hero__wrapper {
			justify-content: flex-start;

			.hero__text-container {
				h1 {
					font-size: 26px;
					line-height: 1.1;
				}

				h2 {
					font-size: 22px;
					letter-spacing: 0px;
				}

				.hero__buttons {
					display: flex;
					align-items: center;
					gap: 10px;

					button {
						padding: 10px;

						font-size: 10px;
					}
				}

				img {
					width: 50px;
				}
			}
			.hero__image-container {
				max-width: 220px;
				border-width: 5px;
			}
		}

		.sliding__text-container {
			width: 110%;
			font-size: 20vh;
			top: 350px;
		}
	}
}

@media (max-width: 492px) {
	.hero {
		.hero__wrapper {
			justify-content: center;
			gap: 0;

			.hero__text-container {
				justify-content: flex-end;
				align-items: center;
				gap: 15px;
				transform: translateY(-20px) !important;

				h1 {
					text-align: center;
					font-size: 20px;
				}

				h2 {
					font-size: 18px;
					letter-spacing: 0;
				}

				.hero__buttons {
					display: flex;
					align-items: center;
					justify-content: space-between;

					button {
						padding: 10px;
						font-size: 10px;
					}
				}

				img {
					width: 50px;
				}
			}
			.hero__image-container {
				right: 162px;
				max-width: 150px !important;
			}
		}

		.sliding__text-container {
			display: none;
		}
	}
}

@media screen and (max-width: 464px) {
	.hero {
		.hero__wrapper {
			position: relative;
			max-width: 300px;
			.hero__text-container {
				gap: 10px;
				.hero__buttons {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-direction: column;

					button {
						padding: 10px;
						width: 100%;
						font-size: 12px;
					}
				}

				img {
					display: block;
					width: 30px;
				}
			}
			.hero__image-container {
				border-width: 5px;

				right: 75px;
			}
		}
	}
}
