//Colors
$background-general: #0c0c1d;
$background-sidebar-color: #e6e5e5;
$background-hover-links: #2a2a49;
$background-hero: linear-gradient(180deg, #0c0c1d, #111132);
$color-text-general: #aaaaaa;
$color-hover-links: #e7e7e7;
$color-links: #8b8b8b;
$color-h2-hero: #6d0089;
$color-secondary-accent: #d38a01;

//Transform
$hover-links-scale: 1.1;

//Duration
$transition-speed: 0.3s;
